@import '../base/colors';

.nav {
  background-color: $primary;
}

.nav-link {
  transition: background-color 0.25s ease-in-out;
  text-align: center;
  font-size: 2rem;
  background-color: rgba($primary, 1);
  text-decoration: none;
  color: $text-primary;

  &:hover {
    cursor: pointer;
    background-color: rgba($secondary, 1);
    color: $text-primary;
  }
}