@import './colors';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  background-color: $bg-primary;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

.Heading {
  padding-bottom: 20px;
}